<%= render 'shared/header' %>

<div class="container">
    <%# <h1><%= @list.name %></h1> 
    <%# <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
    
    <div class="container mt-5">
        <h1 class="mb-5">Movies from the <%= @list.name %> list</h1>
        <div class="row">
            <% @list.bookmarks.each do |bookmark| %>
                <div class="col-6 col-lg-4">
                    <div class="item-flip">
                        <div class="item-flip-front">
                            <div class="item-flip-content">
                                <%# <div class="img"><%= image_tag bookmark.movie.poster_url, alt: "pic of movie"</div> %> %>
                            </div>
                        </div>
                        <div class="item-flip-back">
                            <div class="item-flip-content">
                                <h2><%= bookmark.movie.title %></h2> 
                                <p><%= bookmark.movie.overview %></p> 
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

</div>

