<%# <div class="header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) %>);"> %>
    <%# <%= if @list.photo.attached? %> %>
        <%# <%= cl_image_tag @list.photo, width: 400, height: 300, crop: :fill %> %>
    <%# <%= else url(<%= asset_path('header.jpg') %> %>
    <%# <%= end %> %>

  <div class="container">
    <h1><%= @list.name %></h1>
   <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
  </div>
</div>